{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-5 background-primary">Administration</h1>
        <p class="lead">Bienvenue dans l'administration du site Rambaud Labrosse</p>
    </div>

{% endblock %}