<!-- BLOG -->
<section class="py-8 py-md-11 bg-gradient-light-white ">
    <div class="container">

        <div class="row justify-content-lg-around">
            <div class="col-12 col-md-6 col-lg-4 d-flex">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg lift lift-lg" style="background-image: url({{ asset('media/images/entreprise.jpg') }});">

                    <!-- Body -->
                    <a class="card-body mt-auto" href="https://www.protectionentreprise.com/">

                        <!-- Heading -->
                        <h2 class="text-white header-devis">
                            Assurances pour votre entreprise.
                        </h2>


                        <!-- Text -->
                        <p class="mb-0 text-white">
                            <span>Optimisez vos assurances</span>
                        </p>

                    </a>

                    <a class="navbar-btn btn btn-sm btn-primary lift ms-auto btn-devis btndevis" href="https://www.protectionentreprise.com/" target="_blank">
                        Devis entreprise
                    </a>
                        <!-- Divider -->
                        <hr class="card-meta-divider bg-white-20">

                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-4 d-flex">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg lift lift-lg" style="background-image: url({{ asset('media/images/travaux.jpg') }});">

                    <!-- Body -->
                    <a class="card-body mt-auto" href="#!">

                        <!-- Heading -->
                        <h2 class="text-white header-devis">
                            Protection Géomètres
                        </h2>

                        <!-- Text -->
                        <p class="mb-0 text-white">
                            <span>Spécialiste des assurances pour les Géomètres Experts</span>
                        </p>

                    </a>

                    <a class="navbar-btn btn btn-sm btn-primary lift ms-auto btn-devis btndevis" href="#" target="_blank">
                        Devis
                    </a>

                    <!-- Divider -->
                    <hr class="card-meta-divider bg-white-20">

                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>