<!-- SHAPE -->
<div class="position-relative">
    <div class="shape shape-top shape-fluid-x text-white bg-gray-600">
        <svg viewBox="0 0 2880 72" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2880 0H0v54.112h720s289.42 40.248 705 0c416.5-37.733 735 0 735 0h720V0z" fill="currentColor"/>
        </svg>
    </div>
</div>

<!-- VIDEO -->
<section class="py-12 py-md-13 bg-secondary"  >
    <div class="container py-md-13">
        <div class="row">
            <div class="col-12 text-center">

                <!-- Button -->
                <a class="btn btn-pill btn-white text-body shadow lift" href="#" data-aos="zoom-in">
                    <span class="h6 text-uppercase fw-bold"><i class="fe fe-arrow-right me-2"></i> Nous connaître</span>
                </a>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <h2 class="text-center mb-4" data-aos="zoom-in">
        Pourquoi nos clients choissent<span class="fw-bold text-white"> Rambaud Labrosse.</span>
    </h2>
    <div class="row justify-content-center mt-5" data-aos="zoom-in">

        <div class="col-12 col-md-6 col-lg-2">

                <!-- Card -->
                <div class="card card-border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
                    <div class="card-body text-center">

                        <!-- Icon -->
                        <div class="icon-circle bg-primary text-white mb-5">
                            <i class="fe fe-users"></i>
                        </div>

                        <!-- Heading -->
                        <h4 class="fw-bold">
                            Equipe Réactive à
                            <div class="px-5">
                                <h3 class="mb-0">
                                    <span data-countup='{"startVal": 0, "decimalPlaces": 0}' data-to="100" data-aos data-aos-id="countup:in">0</span>%
                                </h3>

                            </div>
                        </h4>

                        <!-- Text -->
                        <p class="text-gray-700 mb-5">
                            Possibilité de mettre du bla bla ici
                        </p>

                        <!-- Badge -->
                        <span class="badge rounded-pill bg-dark-soft">
                  <span class="h6 text-uppercase">
                    un button ici à voir
                  </span>
                </span>

                    </div>
                </div>

        </div>

        <div class="col-12 col-md-6 col-lg-2">

            <!-- Card -->
            <div class="card card-border border-warning shadow-lg mb-6 mb-md-8 lift lift-lg">
                <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="icon-circle bg-primary text-white mb-5">
                        <i class="fe fe-users"></i>
                    </div>

                    <!-- Heading -->
                    <h4 class="fw-bold">
                        Expérience
                    </h4>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                        Possibilité de mettre du bla bla ici
                    </p>

                    <!-- Badge -->
                    <span class="badge rounded-pill bg-dark-soft">
                  <span class="h6 text-uppercase">
                    un button ici à voir
                  </span>
                </span>

                </div>
            </div>


        </div>

        <div class="col-12 col-md-6 col-lg-2">

            <!-- Card -->
            <div class="card card-border border-danger shadow-lg mb-6 mb-md-8 lift lift-lg">
                <div class="card-body text-center">

                    <!-- Icon -->
                    <div class="icon-circle bg-primary text-white mb-5">
                        <i class="fe fe-users"></i>
                    </div>

                    <!-- Heading -->
                    <h4 class="fw-bold">
                        Contact direct
                    </h4>

                    <!-- Text -->
                    <p class="text-gray-700 mb-5">
                        Possibilité de mettre du bla bla ici
                    </p>

                    <!-- Badge -->
                    <span class="badge rounded-pill bg-dark-soft">
                  <span class="h6 text-uppercase">
                    un button ici à voir
                  </span>
                </span>

                </div>
            </div>


        </div>

    </div>
</section>
