@import "scss/theme";
@import "scss/libs";


*, ::before, ::after,
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** media nav **/
.logo-nav
{
 color: #42BA96;
}



/** fin **/

/** body acceuil */
.body-group-rlb
{
  font-size: 1.3rem;
  font-family: Roboto, sans-serif;
}

.body-group-rlb::before
{
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 5px;
  background: #42BA96;
  margin-bottom: 15px;
}



 /**fin**/

/** offre **/
.container-offre
{
  position: relative;
  margin-top: 5rem;
  right: 15%;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/** fin **/

/** raison**/
.raison-container
{
  position: relative;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}



.raison-content a
{
  cursor: pointer;
  text-decoration: none;
}

/**fin raison **/


footer li
{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  white-space: nowrap;
}

footer li p
{
  color: white;
}

/** btn*/
.btn
{
 cursor: pointer;
}
/** fin btn */

/** mention */

.mention{
  font-size: 1rem;
}

/** fin mention */

/** turbo ux */

.turbo-progress-bar {
  height: 5px;
  background-color: red;
}

/* fin turbo ux */

/** poursuivre la lecture */

.underline::after{
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 10%;
  height: 5px;
  background: #D6723B;
}

.underline-title{
  color: #0b67c0;
  font-weight: bold;
  font-size: 45px;
  font-family: Roboto, sans-serif;
  line-height: 60px;
}

/** Fin poursuivre la lecture */

  /** badge-categorie */

.underline::after{
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 20px;
  width: 10%;
  height: 5px;
  background: #D6723B;
}

.badge-categorie{
  position: absolute;
  bottom: 40px;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto, sans-serif;

}

/** badge-categorie */

/** Heading-en-ligne */

.Heading-en-ligne
{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

/** Fin Heading-en-ligne */

.logo-rlb
{
  heigth: 10rem;
  width: 7rem;
}


.gestion-enligne
{
  font-weight: 300;
  font-family: Roboto, sans-serif;
}

.btn-devis
{
  display: flex;
  position: relative;
  right: 18%;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.btndevis
{
  display: inline-block;
  width: 200px;
  padding: 7px 10px;
}

.classement
{
  font-weight: 200;
  font-size: 40px;
  line-height: 30px;
  color: #1d4483;
  font-family: Roboto, sans-serif;
}

.header-devis
{
  position: relative;
  bottom: 8rem;
}

.video-euribon
{
  position: relative;
  bottom: 8rem;
}

.videobg
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75vh;
  z-index: -99;
  filter: brightness(50%);
}

.videobg video
{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.block-choisir
{
  display: flex;
  justify-content: space-around;

}